<div class="card h-100">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="/assets/{{item.image}}.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <p class="mb-1"><a href="" class="font-weight-bold black-text">{{item.name}}</a></p>

    <p class="mb-1"><small class="mr-1"><s>{{item.value}}</s></small><strong>$99</strong></p>

    <div class="amber-text fa-xs mb-1">
      <ngb-rating [(rate)]="this.item.rate"></ngb-rating>
      <hr>
      <pre>Rate: <b>{{item.rate}}</b></pre>
    </div>

    <button type="button" [routerLink]="['/items/single-item/',item.id]"
      class="btn btn-outline-black btn-rounded btn-sm px-3">Details</button>
    <button type="button" class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect">Delete</button>

  </div>

</div>
<!-- Card -->
