<!--Grid row-->
<div class="row d-flex justify-content-right">
  <div class="container main-container">
    <!-- Jumbotron -->
    <div class="jumbotron text-center" id="jumb">

      <!-- Title -->
      <h2 class="card-title h2">Market Items</h2>

      <!-- Grid row -->

      <hr class="my-4">

      <div class="pt-2">
        <button type="button" [routerLink]="['/items/new-item']" class="btn btn-outline-dark waves-effect">New Item<span
            class="far fa-gem ml-1"></span></button>
        <button type="button" class="btn btn-outline-dark waves-effect">Download <i
            class="fas fa-download ml-1"></i></button>
      </div>
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>

    </div>
    <!-- Jumbotron -->

    <div class="row text-center">

      <app-item-card *ngFor="let item of items" [item]="item" class="col-md-4"></app-item-card>
    </div>
  </div>

  <!--Grid column-->
  <div class="border p-4">

    <!-- Filter panel -->
    <div class="mb-5">
      <h5 class="font-weight-bold mb-3">Order by</h5>

      <div class="divider-small mb-3"></div>

      <ul class="list-unstyled link-black">
        <li class="mb-2">
          <a href="" class="active">Default</a>
        </li>
        <li class="mb-2">
          <a href="" class="">Popularity</a>
        </li>
        <li class="mb-2">
          <a href="" class="">Rating</a>
        </li>
        <li class="mb-2">
          <a href="" class="">Price: low to high</a>
        </li>
        <li class="mb-2">
          <a href="" class="">Price: high to low</a>
        </li>
      </ul>
    </div>
    <!-- Filter panel -->

    <!-- Filter panel -->
    <div class="mb-5">

      <h5 class="font-weight-bold mb-3">Category</h5>

      <div class="divider-small mb-3"></div>

      <div class="form-check pl-0 mb-2">
        <input type="radio" class="form-check-input" id="materialGroupExample1" name="groupOfMaterialRadios">
        <label class="form-check-label" for="materialGroupExample1">All</label>
      </div>

      <div class="form-check pl-0 mb-2">
        <input type="radio" class="form-check-input" id="materialGroupExample2" name="groupOfMaterialRadios" checked>
        <label class="form-check-label" for="materialGroupExample2">Laptops</label>
      </div>

      <div class="form-check pl-0 mb-2">
        <input type="radio" class="form-check-input" id="materialGroupExample3" name="groupOfMaterialRadios">
        <label class="form-check-label" for="materialGroupExample3">Smartphones</label>
      </div>

      <div class="form-check pl-0 mb-2">
        <input type="radio" class="form-check-input" id="materialGroupExample4" name="groupOfMaterialRadios">
        <label class="form-check-label" for="materialGroupExample4">Tablets</label>
      </div>

    </div>
    <!-- Filter panel -->

    <!-- Filter panel -->
    <div class="mb-5">

      <h5 class="font-weight-bold mb-3">Price</h5>

      <div class="divider-small mb-3"></div>

      <form class="range-field">
        <input type="range" min="0" max="319" />
      </form>

      <div class="row justify-content-center">

        <!-- Grid column -->
        <div class="col-md-6 text-left">
          <p class="dark-grey-text"><strong id="resellerEarnings">0$</strong></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 text-right">
          <p class="dark-grey-text"><strong id="clientPrice">319$</strong></p>
        </div>
        <!-- Grid column -->
      </div>

    </div>
    <!-- Filter panel -->

    <!-- Filter panel -->
    <div class="link-black">

      <h5 class="font-weight-bold mb-3">Rating</h5>

      <div class="divider-small mb-3"></div>

      <div class="amber-text fa-sm mb-1">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <a href="" class="ml-2 active">4 and more</a>
      </div>

      <div class="amber-text fa-sm mb-1">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <a href="" class="ml-2">3 - 3,99</a>
      </div>

      <div class="amber-text fa-sm mb-1">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <a href="" class="ml-2">3.00 and less</a>
      </div>

    </div>
    <!-- Filter panel -->

  </div>

  <!--Grid column-->


</div>
<!--Grid row-->
<nav aria-label="Page navigation example">
  <ul class="pagination pg-blue justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link">1</a></li>
    <li class="page-item"><a class="page-link">2</a></li>
    <li class="page-item"><a class="page-link">3</a></li>
    <li class="page-item">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>
